/deploy
/bitbucket-pipelines.yml
/build_info.json
/Dockerfile
/docs
/docs-image.docker

/.eslintignore
/.eslintrc
/.prettierrc
/.npmrc
/.babel.config.js
/styleguide.config.js

# Log files
npm-debug.log*
